on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DEVELOPER_DIR: "/Applications/Xcode_13.3.app/Contents/Developer"

# Limit GITHUB_TOKEN permissions to read-only for repo contents
# https://docs.github.com/en/actions/security-guides/automatic-token-authentication
permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: macOS-12
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: ./Scripts/brew.sh
    - name: lint
      run: make lint

  build:
    name: Build & Test
    runs-on: macOS-12
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: build
      run: make build
    - name: test
      run: make test_ci
    - uses: codecov/codecov-action@v2
      with:
        directory: .coverage
